swim-stack-terraform/.*
swim-stack-terraform/kubeconfig*
swim-stack-terraform/terraform.*
devops-practical/node_modules/
devops-practical/.monitor
devops-practical/config/env/env.json
devops-practical/Makefile
devops-practical/.DS_Store
devops-practical/.env
devops-practical/data
swimstack.code-workspace