swim-stack-terraform/.*
swim-stack-terraform/kubeconfig*
terraform-state-backend/.terraform*
terraform-state-backend/terraform*
swimstack.code-workspace
**/kubeconfig_swimstack*
**/terraform.tfstate
**/terraform.tfstate.backup
devops-practical/node_modules/
devops-practical/.monitor
devops-practical/config/env/env.json
devops-practical/Makefile
devops-practical/.env
devops-practical/data
**/.DS_Store
.DS_Store